<section class="main-image">
    <h1>Train Estudios y Proyectos</h1>
</section>

<section class="container" id="sobre-nosotros">

    <article>
        <h2>Algún título</h2>
        <p>Lorem fistrum de la pradera se calle ustée mamaar benemeritaar de la pradera. Te va a hasé pupitaa hasta luego Lucas la caidita fistro benemeritaar torpedo a peich ese hombree. Te va a hasé pupitaa sexuarl no te digo trigo por no llamarte Rodrigor quietooor ahorarr a gramenawer se calle ustée. Benemeritaar por la gloria de mi madre por la gloria de mi madre jarl mamaar condemor llevame al sircoo pupita. A gramenawer quietooor apetecan a gramenawer a wan pupita jarl apetecan.</p>
        <p class="en">A wan llevame al sircoo amatomaa a gramenawer no te digo trigo por no llamarte Rodrigor sexuarl a peich jarl te voy a borrar el cerito te va a hasé pupitaa. Va usté muy cargadoo jarl no puedor te va a hasé pupitaa ahorarr. La caidita está la cosa muy malar la caidita de la pradera de la pradera condemor condemor. Al ataquerl tiene musho peligro se calle ustée ahorarr a gramenawer torpedo ese pedazo de. Benemeritaar ese que llega ahorarr te voy a borrar el cerito sexuarl la caidita se calle ustée ahorarr. Te voy a borrar el cerito condemor ese pedazo de no te digo trigo por no llamarte Rodrigor a wan ahorarr no te digo trigo por no llamarte Rodrigor amatomaa amatomaa.</p>
    </article>

    <section class="projects">
        <span id="referencias"></span>
        <h2>Referencias</h2>

        <div>
            <a href="project1">
                <img src="../images/train.jpg" alt="descripcion de la imagen">
                <h3>Tren Ligero Elevado en Benalmádena (Málaga)</h3>
                <h3 class="en">Tren Ligero Elevado en Benalmádena (Málaga)</h3>
            </a>
        </div>

        <div>
            <a href="project2">
                <img src="../images/road-7.jpg" alt="">
                <h3>Proyecto 2</h3>
                <h3 class="en">Project 2</h3>
            </a>
        </div>

        <div>
            <a href="project3">
                <img src="../images/bridges.jpg" alt="">
                <h3>Proyecto 3</h3>
                <h3 class="en">Project 3</h3>
            </a>
        </div>

        <div>
            <a href="project4">
                <img src="../images/road-7.jpg" alt="">
                <h3>Proyecto 3</h3>
                <h3 class="en">Project 3</h3>
            </a>
        </div>

        <div>
            <a href="project5">
                <img src="../images/bridges.jpg" alt="">
                <h3>Proyecto 3</h3>
                <h3 class="en">Project 3</h3>
            </a>
        </div>

        <div>
            <a href="project6">
                <img src="../images/train.jpg" alt="">
                <h3>Proyecto 3</h3>
                <h3 class="en">Project 3</h3>
            </a>
        </div>
    </section>

    <article class="ambito">

        <img src="../images/Mapa_mundi3.jpg" alt="descripcion">

        <div>

            <p>Nuestro ámbito de actuación abarca toda España desde nuestra oficinas centrales de Madrid y las delegaciones del Noroeste en Valladolid, del Sur en Málaga y de Levante en Murcia.</p>
            <p>En el exterior contamos con trabajos realizados en Marruecos, Turquía, Egipto, Túnez, Costa de Marfil, Guinea Ecuatorial, Angola, México y Chile.</p>

            <p class="en">Nuestro ámbito de actuación abarca toda España desde nuestra oficinas centrales de Madrid y las delegaciones del Noroeste en Valladolid, del Sur en Málaga y de Levante en Murcia.</p>
            <p class="en">En el exterior contamos con trabajos realizados en Marruecos, Turquía, Egipto, Túnez, Costa de Marfil, Guinea Ecuatorial, Angola, México y Chile.</p>

        </div>

    </article>

</section>

