{{!-- <section >
    <a class="volver" href="/">Volver</a>
</section> --}}

<section class="project-image"></section>

<section class="container">

    <article>
        <h2>Título</h2>
        <p>La infraestructura del monorraíl consiste en una vía de rodadura elevada sobre la rasante del viario.</p>

        <h2 class="en">Título</h2>
        <p class="en">La solución adoptada para el trazado en planta se adapta a la tipología típica de “hueso”, la cual presenta sendos bucles en sus extremos y una zona central común.</p>
    </article>

</section>
